.login-page-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
}

.login-page-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-field {
    margin-top: 10px;
    margin-bottom: 10px;
}

.email-field {
    margin-bottom: 10px;
}

.password-input-field {
    margin-bottom: 10px;
}

.button-register {
    margin-bottom: 10px;
}

.button-registration {
    margin-top: 10px;
}

.registration-page-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registration-page-button {
    margin-top: 10px;
    margin-bottom: 10px;
}